/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 12px;
}


@media (min-width: 400px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(0, 148, 255,1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-logo {
    height: 50px;
    width: auto;
}

.navbar-main {
    background: rgba(189, 208, 222, 0.5);
    border: 1px solid #E8E8E8;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.call-to-action-container {
    background: rgba(189, 208, 222, -1);
}

    .call-to-action-container button {
        background: rgba(0, 148, 255, 0.32);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 84.5px;
        font-size: 2rem;
    }
    .btn-floating-cta {
        background: rgba(0, 148, 255, .8);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40.5px;
        font-size: 1.5rem;
    }

.bg-blur {
    background-color: rgba(0, 148, 255, 0.1);
    background: url(../img/photo-placeholder-4.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: var(--light);
}

.bg-trans1{
    background: rgba(189, 208, 222, 0.32) !important;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
}
.our-services {
    background: url(../img/scott-webb-ICypnq9qZH8-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
   
}

.services .card-img{
    filter: grayscale(.5) !important;
}

.card.card-transparent {
    background: rgba(189, 208, 222, 0.32) !important;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color:#ffffff;
    height: 300px;
    width: 300px;
}
.card .card-transparent-icon{
    margin-top:3rem;
    font-size:3rem;
    color:var(--red);
}


.card-columns .card:hover,.card-columns .card:active{
    filter: grayscale(0);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transition: all .5s;
}

.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
}