@page
@model ComingSoonModel
@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" />
    <title>OhMyGlass - Coming Soon</title>
  </head>
  <body>
    <section style="height:calc(100vh - 100px);">
      <div class="d-flex h-100 flex-column justify-content-center align-content-center">
        <div class="text-center mt-auto mb-3">
          <h1>Coming Soon</h1>
        </div>
        <div class="text-center mb-auto">
            <label class="text-muted d-block">Follow us on:</label>
            <a class="btn btn-link" href="http://fb.ohmyglass.ca"><i class="fab fa-facebook"></i> fb.ohmyglass.ca</a>
            <a class="btn btn-link" href="http://insta.ohmyglass.ca"><i class="fab fa-instagram text-danger"></i> insta.ohmyglass.ca</a>
        </div>
      </div>
    </section>
    <footer class="fixed-bottom m-3">
      <small>
        <div class="text-right">This website is maintained by: 
          <a href="https://www.linkedin.com/in/exd-exricahuerta/">Edmel Ricahuerta</a>
        </div>
      </small>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

