@page
@model IndexModel
@{
    ViewBag.Title = "Home";
}

<div id="beer-slider" class="beer-slider d-flex"  data-beer-label="before" data-beer-start="25">
  <img src="~/img/5_2.jpg" class="min-vw-100" alt="Original - Man holding beer">
  <div class="beer-reveal"  data-beer-label="after">
    <img src="~/img/5_1.jpg" alt="Processed - Man holding beer">
  </div>
</div>