@page
@model IndexModel
@{
    ViewBag.Title = "Home";
}

<div id="beer-slider" class="beer-slider d-flex"  data-beer-label="before" data-beer-start="25">
  <img src="~/img/toronto-blur.png" class="min-vw-100" alt="Blur Glass">
  <div class="beer-reveal"  data-beer-label="after">
    <img src="~/img/toronto.jpeg" alt="Toronto">
  </div>
</div>